<!-- Register Start -->
<div class="login">
    <div class="container">
        <div class="section-header">
            <h3>Register</h3>
        </div>
        
        <div class="row">
            <form method="POST" class="form-group" action="">
                <div class="row">
                    <label>Username</label>
                    <input class="form-control" type="text" name="account" placeholder="First Name">
                </div>
                <div class="row">
                    <label>Password</label>
                    <input class="form-control" type="password" name="password" placeholder="Last Name">
                </div>
                <div class="row">
                    <label>Name</label>
                    <input class="form-control" type="text" name="name" placeholder="Name">
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Register End -->


